<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Welcome</title>
</head>
<a href="static/data_package.html">
    Documentation
</a>
<form action="/" method="POST">
    <h1>
        <br>
        Model:
        <br>
    </h1>
    <input type="radio" name="classifier" value="knn" checked>KNN
    <br>
    <input type="radio" name="classifier" value="logreg">Logistic Regression
    <br>
    <input type="radio" name="classifier" value="SVM">SVM
    <br>
    <input type="radio" name="classifier" value="BN">Naive Bayes
    <br>
    <input type="radio" name="classifier" value="SGD">SGD
    <br>
    <h1>
        <br>
        Features:
        <br>
    </h1>
    {% for i in list_features %}
    <input type="checkbox" name="features" value={{i}}>{{i}}
    <br>
    {% endfor %}

    <br>

    <input type="submit" value="Submit">
</form>


<body>
    {% if show_statistics %}
    <h3>
        Results:
        <br>
        <h4>
            Selected features: {{selected_features}}
            <br>
            Selected model: {{model}}.
            <br>
        </h4>
    </h3>
    <p>
        {{message}}
    </p>
    <p>
        {{score_test}} %
    </p>
    <p>
        {{message2}}
    </p>
    <p>
        {{score_train}} %
    </p>
    {%if show_image %}
    <p>
        Plot of features and target
    </p>
    <img src="image/plot.png?id={{cache_bust}}" alt="test" width="auto" height="auto">
    {% endif %}
    {% endif %}

</body>

</html>