<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Welcome</title>
</head>
<form action="/user_defined" method="POST">
    <h1>
        <br>
        Model:
        <br>
    </h1>
    <input type="radio" name="classifier" value="knn">KNN
    <br>
    <input type="radio" name="classifier" value="logreg">Logistic Regression
    <br>
    <input type="radio" name="classifier" value="SVM">SVM
    <br>
    <h1>
        <br>
        Features:
        <br>
    </h1>
    {% for i in list_features %}

    <input type="checkbox" name="features" value={{i}}>{{i}}
    <br>
    {% endfor %}

    <br>



    <input type="submit" value="Submit">
</form>


<body>
    <img src="/static/test.png">
    <p>
        {{message}}
    </p>
    <p>
        {{score_test}}
    </p>
    <p>
        {{message2}}
    </p>
    <p>
        {{score_train}}
    </p>
</body>

</html>