<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Welcome</title>
</head>
<form>
    <input type="radio" name="classifier" value="knn">KNN
    <br>
    <input type="radio" name="classifier" value="logreg">Logistic Regression
    <br>
    <input type="radio" name="classifier" value="SVM">SVM
</form>

<body>
    <img src="/static/test.png">
    <p>
        {{message}}
    </p>
    <p>
        {{score_test}}
    </p>
    <p>
        {{message2}}
    </p>
    <p>
        {{score_train}}
    </p>
</body>

</html>